@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      @apply appearance-none;
    }
    html {
      -webkit-tap-highlight-color: transparent;
    }
  }
  

.verified_icon {
  @apply inline-block relative
    text-blue-500 z-10
}
.verified_icon svg {
  @apply w-6 h-6
}
.verified_icon_bg{
  @apply absolute inset-0 -z-10
}
.verified_icon_bg svg {
  @apply h-3 w-3 ml-[0.44rem] mt-[0.44rem] 
  text-white bg-white;
}

input:checked + div {  
  @apply border-blue-500;  
}  
input:checked + div svg {  
  @apply block;  
}